# Ignore Node modules
node_modules/

# Ignore environment variables file
.env

# Ignore Firebase Admin JSON (credentials)
mood-firebase-adminsdk-l05bm-38d7867224.json

# Ignore logs
logs/
*.log

# Ignore debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build files (if using build tool like Webpack or others)
build/
dist/

# Ignore OS specific files (macOS and Windows)
.DS_Store
Thumbs.db

# Ignore coverage directory (if using test coverage tool like Jest)
coverage/
